.spacer {
  flex: 1 1 auto;
}

.text-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.username {
  margin-right: 0.5rem;
  font-weight: lighter;
  font-size: smaller;
}

.absolute {
  position: absolute;
  right: 1rem;
}
